<!DOCTYPE html>
<html>
<head>
	<title>Welcome to bulls-and-cows</title>
	<link href="{{context}}/css/screen.css" rel="stylesheet" type="text/css"></link>
	<script type="text/javascript">
	var context = "{{context}}";
	</script>
</head>
<body>
			
{% block content %}

{% endblock %}

		</div>		
	    <div id="push"></div>
	</div>
	<div id="footer">
         <div class="container">                
             <p class="muted footer-text">Footer content.</p>
         </div>
    </div>        
</body>
</html>
